<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Connect Catchments to Node</Name><AddInID>{d90714bb-e754-463b-baae-6314caa906de}</AddInID><Description>Connect selected Mike Urban Catchments to Manhole</Description><Version>0.2</Version><Image /><Author>ENI</Author><Company /><Date>12/12/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="CatchmentConnector.py" namespace="CatchmentConnector"><ArcMap>
    <Commands>
        <Tool caption="Connect selected Mike Urban Catchments to Manhole" category="Connect Catchments to Node" class="ConnectCatchment" id="toolbar1.btn1_1" image="Images\ConnectIcon.png" message="Connect selected Mike Urban Catchments to Manhole" tip="Connect selected Mike Urban Catchments to Manhole"><Help heading="Connect selected Mike Urban Catchments to Manhole">Connect selected Mike Urban Catchments to Manhole</Help></Tool>
        <ComboBox caption="ManholeLayer" category="Connect Catchments to Node" class="ManholeLayer" id="CatchmentConnector.manholeLayer" itemSizeString="WWWWWW" message="Manhole Layer to assign catchment to" rows="4" sizeString="WWWWWW" tip="Manhole Layer to assign catchment to"><Help heading="" /></ComboBox>
        <ComboBox caption="CatchmentLayer" category="Connect Catchments to Node" class="CatchmentLayer" id="CatchmentConnector.catchmentLayer" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Connect Catchments To Node" category="Connect Catchments to Node" id="CatchmentConnector.toobar1" showInitially="true"><Items><Tool refID="toolbar1.btn1_1" /><ComboBox refID="CatchmentConnector.manholeLayer" /><ComboBox refID="CatchmentConnector.catchmentLayer" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>