<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Trace Network</Name><AddInID>{1ca47447-c512-454d-88b5-7271561848b4}</AddInID><Description>Trace Mike Urban Network</Description><Version>1.1.2</Version><Image /><Author>Emil Nielsen</Author><Company /><Date>07/26/2022</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="TraceNetwork_addin.py" namespace="TraceNetwork_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Group" category="Trace Network" class="GroupComboBoxClass1" id="TraceNetwork_addin.group_layer" itemSizeString="WWWWWW" message="Group Layer" rows="8" sizeString="WWWWWW" tip="Pick the Group Layer"><Help heading="" /></ComboBox>
        <Tool caption="Trace Upstream" category="Trace Network" class="TraceUpstreamToolClass16" id="TraceNetwork_addin.tool" image="Images\Trace Upstream.png" message="Trace Upstream" tip=""><Help heading="" /></Tool>
        <Tool caption="Trace Downstream" category="Trace Network" class="TraceDownstreamToolClass18" id="TraceNetwork_addin.tool_1" image="Images\Trace Downstream.png" message="Trace Downstream" tip=""><Help heading="" /></Tool>
        <Button caption="Find connected catchments" category="Trace Network" class="ButtonClass21" id="TraceNetwork_addin.find_all_connected_catchments" image="Images\Select Connected Catchments.png" message="Find all connected catchments to selected nodes" tip=""><Help heading="" /></Button>
        <Button caption="Find all unconnected catchments" category="Trace Network" class="ButtonClass25" id="TraceNetwork_addin.find_all_unconnected_catchments" image="Images\Select Unconnected Catchments.png" message="Find all unconnected catchments" tip=""><Help heading="" /></Button>
		<Button caption="Trace Between Selected Nodes" category="Trace Network" class="ButtonClass26" id="TraceNetwork_addin.trace_between_selected_nodes" image="Images\Trace Between.png" message="Trace Between Selected Nodes" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Trace Network" category="Trace Network" id="TraceNetwork_addin.toolbar" showInitially="true"><Items><ComboBox refID="TraceNetwork_addin.group_layer" /><Tool refID="TraceNetwork_addin.tool" /><Tool refID="TraceNetwork_addin.tool_1" /><Button refID="TraceNetwork_addin.find_all_connected_catchments" /><Button refID="TraceNetwork_addin.find_all_unconnected_catchments" /><Button refID="TraceNetwork_addin.trace_between_selected_nodes" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>