<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Calculate Impervious Area</Name><AddInID>{fcf225ee-f4b2-4339-a983-074569ed7ba9}</AddInID><Description>Calculate total impervious area from selected catchments</Description><Version>1.3.1</Version><Image /><Author>ENI</Author><Company /><Date>10/22/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Addin_addin.py" namespace="Addin_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Catchment" category="Calculate Impervious Area" class="CatchmentComboBox" id="Addin_addin.combobox" itemSizeString="WWWWWW" message="Pick the catchment layer" rows="10" sizeString="WWWWWW" tip="Pick the catchment layer"><Help heading="" /></ComboBox>
        <ComboBox caption="Imperviousness field" category="Calculate Impervious Area" class="ImpAreaComboBox" id="Addin_addin.combobox_1" itemSizeString="WWWWWW" message="Imperviousness field" rows="10" sizeString="WWWWWW" tip="Imperviousness field"><Help heading="" /></ComboBox>
        <Button caption="Summarize Selected Catchments" category="Calculate Impervious Area" class="SummarizeButton" id="Addin_addin.button" image="Images\icon.png" message="Summarize Selected Catchments" tip="Summarize Selected Catchments"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Calculate impervious area" category="Calculate Impervious Area" id="Addin_addin.toolbar" showInitially="true"><Items><ComboBox refID="Addin_addin.combobox" /><ComboBox refID="Addin_addin.combobox_1" /><Button refID="Addin_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>